.parallaxImage {
    margin-top: 20px;
    height: 80vh;
    width: 100vw;
    background: url('../../picture/randomBg.jpg') top left no-repeat;
    background-size: cover;
}
.parallaxText {
    display: flex;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}