.navbarMain {
    position: fixed;
    top: 0;
    z-index: 1000 !important;
}

.navs {
    padding: 5px;
    float: left;
}
.navPic {
    height: 45px;
    width: 30px;
    padding: 10px 0px 5px 0px ;
}